* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: lightcyan;   
}

.flex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  flex-wrap: wrap;
  margin: 20px;
}

.hide {
  display: none;
}

main .graph {
  width: 90vw;
  height: auto;
  margin-bottom: 40px;
}


.country-info * {
  width: 14vw;
  min-width: 150px;
  height: 120px;
  background: #FF5733;
  font-size: 20px;
  line-height: 2rem;
  font-weight: 400;
  border-radius: 16px;
  margin: 5px;
  padding: 8px;
  color: white;
}

h1 {
  font-size: 6rem;
  font-weight: 200;
  margin: 20px;
  text-decoration: underline;
}



.country-info *:last-child {
  width: 18vw;
}


main {
  flex-direction: column;
}

main .regions  * {
  width: 10vw;
  min-width: 150px;
  height: 50px;
  margin: 10px;
  border-radius: 16px;
  border: none;
  background: #333;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

main .regions *:hover {
  background-color: #333;
  border:  2px solid black;
}

main .listOfCountries * {
  font-size: 22px;
  background: none;
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 16px;
  padding: 6px;
}

main .listOfCountries *:hover {
  border:  3px solid black;
  padding: 3px;
}

  #canvas {
    width: 90vw;
    height: 60vh;
  }

  